.how-works-section {
  padding: 64px 16px;
  text-align: center;
}

.how-works-section .headline2 {
  margin-top: 8px;
}

.how-works-section > img {
  width: 100%;
  margin: 64px 0;
  object-fit: cover;
  border-radius: 40px;
  aspect-ratio: 1 / 1;
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.step {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  text-align: start;
  position: relative;
}

.step p {
  margin-top: 8px;
}

.step-description {
  flex: 1;
}

.step-counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 99px;
  background-color: var(--primary);
  color: var(--white);
  z-index: 99;
}

.step-line {
  position: absolute;
  top: 0;
  left: 16px;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--grey);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .how-works-section {
    padding: 128px 0;
  }
  .how-works-section .headline2 {
    margin-top: 24px;
  }

  .how-works-section > img {
    margin: 96px 0;
    max-width: 600px;
    aspect-ratio: unset;
  }

  .steps-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
