// Global Styles
@import "global";

// Theme
@import "./theme/colors";
@import "./theme/fonts";

// Components
@import "./components/wrapper";
@import "./components/header";
@import "./components/button";
@import "./components/icon-button";

// Sections
@import "./sections/hero";
@import "./sections/enterprises";
@import "./sections/how-works";
@import "./sections/schedule-mettings";
