@import "../theme/fonts";

.button {
  display: block;
  padding: 10px 24px;
  font: $desktop-buttons;
  text-decoration: none;
  color: var(--white);
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 999px;
}

.button.button--black {
  background-color: var(--black);
}

.button.button--outline {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}
