// Fonts
// Desktop Fonts
$desktop-h1: 900 5.625rem/5.625rem Inter;
$desktop-h2: 900 3.25rem/4.0625rem Inter;
$desktop-h3: 900 2.5rem/3rem Inter;
$desktop-h4: 900 2rem/2.5rem Inter;
$desktop-h4-regular: 400 2rem/2.5rem Inter;
$desktop-h5-regular: 400 1.5rem/2rem Inter;
$desktop-h5-black: 900 1.5rem/2rem Inter;
$desktop-h5-medium: 500 1.5rem/2rem Inter;
$desktop-body1-regular: 400 1.125rem/2.25rem Inter;
$desktop-body1-medium: 500 1.125rem/2.25rem Inter;
$desktop-body2-regular: 400 1rem/2rem Inter;
$desktop-body2-bold: 600 1rem/2rem Inter;
$desktop-body3-regular: 400 0.875rem/1.5rem Inter;
$desktop-body3-semibold: 600 0.875rem/1.5rem Inter;
$desktop-buttons: 700 0.875rem/1.75rem Inter;

// Mobile Fonts
$mobile-h1: 900 3.125rem/3rem Inter;
$mobile-h2: 900 2.5rem/4.045000076293945rem Inter;
$mobile-h3: 900 2rem/3.2360000610351562rem Inter;
$mobile-h4: 900 1.5rem/2.427000045776367rem Inter;
$mobile-h4-regular: 400 1.5rem/2.427000045776367rem Inter;
$mobile-h5-regular: 400 1.25rem/2.0225000381469727rem Inter;
$mobile-h5-medium: 500 1.25rem/2.0225000381469727rem Inter;
$mobile-h5-black: 900 1.25rem/2.0225000381469727rem Inter;
$mobile-body1-regular: 400 1.125rem/1.8202500343322754rem Inter;
$mobile-body1-medium: 500 1.125rem/1.818750023841858rem Inter;
$mobile-body2-regular: 400 1rem/1.5rem Inter;
$mobile-body2-bold: 700 1rem/1.5rem Inter;

.headline1 {
  font: $mobile-h1;
}
.headline2 {
  font: $mobile-h2;
}
.headline3 {
  font: $mobile-h3;
}
.headline4 {
  font: $mobile-h4;
}
.headline5 {
  font: $mobile-h5-regular;
}

.body1 {
  font: $mobile-body1-regular;
}
.body3 {
  font: $desktop-body3-regular;
}

// Weights
.regular {
  font-weight: 400 !important;
}
.medium {
  font-weight: 500 !important;
}
.semi-bold {
  font-weight: 600 !important;
}
.bold {
  font-weight: 700 !important;
}
.black {
  font-weight: 900 !important;
}

// Colors
.highlight {
  color: var(--primary);
}
.highlight-black {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font: $desktop-h1;
  }
  .headline2 {
    font: $desktop-h2;
  }
  .headline3 {
    font: $desktop-h3;
  }
  .headline4 {
    font: $desktop-h4;
  }
  .headline5 {
    font: $desktop-h5-regular;
  }

  .body1 {
    font: $desktop-body1-regular;
  }
}
