* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-base);
  font-size: 16px;
  color: var(--black);
}

body {
  margin-top: 96px;
}

:root {
  --primary: #006bff;
  --grey-bg: #fbfbfb;
  --grey: #cecece;
  --white: #ffffff;
  --black: #000000;
  --font-base: "Inter", sans-serif;
}

.headline1 {
  font: 900 3.125rem/3rem Inter;
}

.headline2 {
  font: 900 2.5rem/4.0450000763rem Inter;
}

.headline3 {
  font: 900 2rem/3.236000061rem Inter;
}

.headline4 {
  font: 900 1.5rem/2.4270000458rem Inter;
}

.headline5 {
  font: 400 1.25rem/2.0225000381rem Inter;
}

.body1 {
  font: 400 1.125rem/1.8202500343rem Inter;
}

.body3 {
  font: 400 0.875rem/1.5rem Inter;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.highlight {
  color: var(--primary);
}

.highlight-black {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font: 900 5.625rem/5.625rem Inter;
  }

  .headline2 {
    font: 900 3.25rem/4.0625rem Inter;
  }

  .headline3 {
    font: 900 2.5rem/3rem Inter;
  }

  .headline4 {
    font: 900 2rem/2.5rem Inter;
  }

  .headline5 {
    font: 400 1.5rem/2rem Inter;
  }

  .body1 {
    font: 400 1.125rem/2.25rem Inter;
  }
}
.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 24px 0;
  height: 96px;
  z-index: 999;
  background-color: var(--white);
  transition: 450ms box-shadow;
}

.header.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  width: 110px;
}

.header__navigation {
  position: absolute;
  bottom: -268px;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 20px 0px;
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__navigation.active {
  display: flex;
}

#header-menu:checked body {
  background-color: rebeccapurple;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__actions .header-link {
  display: none;
  font-weight: bold;
}

.header__navigation a,
.header-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: var(--black);
  text-decoration: none;
  text-align: center;
  transition: 450ms color;
}

.header__navigation a:hover,
.header-link:hover {
  color: var(--primary);
}

@media screen and (min-width: 425px) {
  .header__actions .header-link {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__actions .icon-button {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__navigation {
    position: static;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    opacity: 1;
  }

  .header__actions .header-link {
    margin-right: 24px;
  }
}
.headline1 {
  font: 900 3.125rem/3rem Inter;
}

.headline2 {
  font: 900 2.5rem/4.0450000763rem Inter;
}

.headline3 {
  font: 900 2rem/3.236000061rem Inter;
}

.headline4 {
  font: 900 1.5rem/2.4270000458rem Inter;
}

.headline5 {
  font: 400 1.25rem/2.0225000381rem Inter;
}

.body1 {
  font: 400 1.125rem/1.8202500343rem Inter;
}

.body3 {
  font: 400 0.875rem/1.5rem Inter;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.highlight {
  color: var(--primary);
}

.highlight-black {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font: 900 5.625rem/5.625rem Inter;
  }

  .headline2 {
    font: 900 3.25rem/4.0625rem Inter;
  }

  .headline3 {
    font: 900 2.5rem/3rem Inter;
  }

  .headline4 {
    font: 900 2rem/2.5rem Inter;
  }

  .headline5 {
    font: 400 1.5rem/2rem Inter;
  }

  .body1 {
    font: 400 1.125rem/2.25rem Inter;
  }
}
.button {
  display: block;
  padding: 10px 24px;
  font: 700 0.875rem/1.75rem Inter;
  text-decoration: none;
  color: var(--white);
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 999px;
}

.button.button--black {
  background-color: var(--black);
}

.button.button--outline {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.icon-button {
  border: none;
  background: unset;
}

.icon-button img {
  width: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero__image-container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.hero__image-container img {
  width: 100%;
}

.hero__content {
  padding-top: 32px;
}

.hero__content__description {
  margin-top: 32px;
}

.hero__content__description__input {
  position: relative;
  width: 100%;
  max-width: 336px;
  margin-top: 24px;
}

.hero__content__description__input input {
  width: 100%;
  height: 48px;
  border-radius: 999px;
  border: 1px solid var(--grey);
  padding: 12px 124px 12px 24px;
}

.hero__content__description__input button {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-top: 128px;
  }

  .hero__content {
    flex: 1;
    width: 100%;
  }

  .hero__content__description {
    margin-top: 64px;
  }
}
.enterprises-section {
  width: 100%;
  padding: 80px 0;
  background-color: var(--grey-bg);
  text-align: center;
}

.enterprises-section__title {
  font: 900 1.25rem/2.0225000381rem Inter;
}

.enterprises-logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 64px;
  row-gap: 80px;
  margin-top: 64px;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .enterprises-section__title {
    font: 900 2rem/2.5rem Inter;
  }

  .enterprises-logos-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
.how-works-section {
  padding: 64px 16px;
  text-align: center;
}

.how-works-section .headline2 {
  margin-top: 8px;
}

.how-works-section > img {
  width: 100%;
  margin: 64px 0;
  object-fit: cover;
  border-radius: 40px;
  aspect-ratio: 1/1;
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.step {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  text-align: start;
  position: relative;
}

.step p {
  margin-top: 8px;
}

.step-description {
  flex: 1;
}

.step-counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 99px;
  background-color: var(--primary);
  color: var(--white);
  z-index: 99;
}

.step-line {
  position: absolute;
  top: 0;
  left: 16px;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--grey);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .how-works-section {
    padding: 128px 0;
  }

  .how-works-section .headline2 {
    margin-top: 24px;
  }

  .how-works-section > img {
    margin: 96px 0;
    max-width: 600px;
    aspect-ratio: unset;
  }

  .steps-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.headline1 {
  font: 900 3.125rem/3rem Inter;
}

.headline2 {
  font: 900 2.5rem/4.0450000763rem Inter;
}

.headline3 {
  font: 900 2rem/3.236000061rem Inter;
}

.headline4 {
  font: 900 1.5rem/2.4270000458rem Inter;
}

.headline5 {
  font: 400 1.25rem/2.0225000381rem Inter;
}

.body1 {
  font: 400 1.125rem/1.8202500343rem Inter;
}

.body3 {
  font: 400 0.875rem/1.5rem Inter;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.highlight {
  color: var(--primary);
}

.highlight-black {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font: 900 5.625rem/5.625rem Inter;
  }

  .headline2 {
    font: 900 3.25rem/4.0625rem Inter;
  }

  .headline3 {
    font: 900 2.5rem/3rem Inter;
  }

  .headline4 {
    font: 900 2rem/2.5rem Inter;
  }

  .headline5 {
    font: 400 1.5rem/2rem Inter;
  }

  .body1 {
    font: 400 1.125rem/2.25rem Inter;
  }
}
.schedule-mettings {
  padding-bottom: 128px;
}

.schedule-mettings__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 792px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.schedule-mettings__header__title {
  font: 900 2rem/3.236000061rem Inter;
}

.schedule-mettings__header__desc {
  font: 400 1.5rem/2.4270000458rem Inter;
}

.schedule-mettings__content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.schedule-mettings__content__info img {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}

.schedule-mettings__content__info__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.schedule-mettings__footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.schedule-mettings__footer .button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .schedule-mettings__header {
    padding-bottom: 80px;
  }

  .schedule-mettings__header__title {
    font: 900 3.25rem/4.0625rem Inter;
  }

  .schedule-mettings__header__desc {
    font: 500 1.5rem/2rem Inter;
  }

  .schedule-mettings__content {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .schedule-mettings__footer .button {
    width: max-content;
  }
}
.headline1 {
  font: 900 3.125rem/3rem Inter;
}

.headline2 {
  font: 900 2.5rem/4.0450000763rem Inter;
}

.headline3 {
  font: 900 2rem/3.236000061rem Inter;
}

.headline4 {
  font: 900 1.5rem/2.4270000458rem Inter;
}

.headline5 {
  font: 400 1.25rem/2.0225000381rem Inter;
}

.body1 {
  font: 400 1.125rem/1.8202500343rem Inter;
}

.body3 {
  font: 400 0.875rem/1.5rem Inter;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.highlight {
  color: var(--primary);
}

.highlight-black {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font: 900 5.625rem/5.625rem Inter;
  }

  .headline2 {
    font: 900 3.25rem/4.0625rem Inter;
  }

  .headline3 {
    font: 900 2.5rem/3rem Inter;
  }

  .headline4 {
    font: 900 2rem/2.5rem Inter;
  }

  .headline5 {
    font: 400 1.5rem/2rem Inter;
  }

  .body1 {
    font: 400 1.125rem/2.25rem Inter;
  }
}
.features {
  padding-bottom: 64px;
}

.features__header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 792px;
  margin: 0 auto;
  text-align: center;
}

.features__header__desc {
  font: 400 1.5rem/2.4270000458rem Inter;
}

.features__content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 48px;
}

.features__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.features__content__item > img {
  width: 100%;
  max-width: 500px;
}

.features__content__item__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features__content__item__content p:first-child {
  opacity: 0.64;
}

.features__content__item__content__decoration {
  width: 189px;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: 128px;
  }

  .features__header__desc {
    font: 400 1.25rem/2.0225000381rem Inter;
  }

  .features__content {
    margin-top: 138px;
    gap: 128px;
  }

  .features__content__item {
    flex-direction: row;
    justify-content: space-between;
  }

  .features__content__item:nth-child(odd) img {
    order: 1;
  }

  .features__content__item__content {
    max-width: 600px;
    gap: 32px;
  }
}
.headline1 {
  font: 900 3.125rem/3rem Inter;
}

.headline2 {
  font: 900 2.5rem/4.0450000763rem Inter;
}

.headline3 {
  font: 900 2rem/3.236000061rem Inter;
}

.headline4 {
  font: 900 1.5rem/2.4270000458rem Inter;
}

.headline5 {
  font: 400 1.25rem/2.0225000381rem Inter;
}

.body1 {
  font: 400 1.125rem/1.8202500343rem Inter;
}

.body3 {
  font: 400 0.875rem/1.5rem Inter;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

.highlight {
  color: var(--primary);
}

.highlight-black {
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font: 900 5.625rem/5.625rem Inter;
  }

  .headline2 {
    font: 900 3.25rem/4.0625rem Inter;
  }

  .headline3 {
    font: 900 2.5rem/3rem Inter;
  }

  .headline4 {
    font: 900 2rem/2.5rem Inter;
  }

  .headline5 {
    font: 400 1.5rem/2rem Inter;
  }

  .body1 {
    font: 400 1.125rem/2.25rem Inter;
  }
}
.try-free {
  padding-bottom: 128px;
}

.try-free__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 792px;
}

.try-free__content__desc {
  font: 900 1.5rem/2.4270000458rem Inter;
}

.try-free__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 250px;
  height: 250px;
  background: url("/assets/icons/action-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.try-free__action.mobile {
  margin: 0 auto;
}
.try-free__action.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .try-free {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .try-free__content__desc {
    font: 500 1.5rem/2rem Inter;
  }

  .try-free__action.mobile {
    display: none;
  }
  .try-free__action.desktop {
    min-width: 250px;
    min-height: 250px;
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
