:root {
  --primary: #006bff;
  --grey-bg: #fbfbfb;
  --grey: #cecece;
  --white: #ffffff;
  --black: #000000;
  --font-base: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-base);
  font-size: 16px;
  color: var(--black);
}

body {
  margin-top: 96px;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 24px 0;
  height: 96px;
  z-index: 999;
  background-color: var(--white);
  transition: 450ms box-shadow;
}

.header.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px;
}

.header-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  width: 110px;
}

.header__navigation {
  position: absolute;
  bottom: -268px;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 20px 0px;
  background-color: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__navigation.active {
  display: flex;
}

#header-menu:checked body {
  background-color: rebeccapurple;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__actions .header-link {
  display: none;
  font-weight: bold;
}

.header__navigation a,
.header-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: var(--black);
  text-decoration: none;
  text-align: center;
  transition: 450ms color;
}

.header__navigation a:hover,
.header-link:hover {
  color: var(--primary);
}

@media screen and (min-width: 425px) {
  .header__actions .header-link {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__actions .icon-button {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__navigation {
    position: static;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    opacity: 1;
  }

  .header__actions .header-link {
    margin-right: 24px;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero__image-container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.hero__image-container img {
  width: 100%;
}

.hero__content {
  padding-top: 32px;
}

.hero__content__description {
  margin-top: 32px;
}

.hero__content__description__input {
  position: relative;
  width: 100%;
  max-width: 336px;
  margin-top: 24px;
}

.hero__content__description__input input {
  width: 100%;
  height: 48px;
  border-radius: 999px;
  border: 1px solid var(--grey);
  padding: 12px 124px 12px 24px;
}

.hero__content__description__input button {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-top: 128px;
  }

  .hero__content {
    flex: 1;
    width: 100%;
  }

  .hero__content__description {
    margin-top: 64px;
  }
}
.enterprises-section {
  width: 100%;
  padding: 80px 0;
  background-color: var(--grey-bg);
  text-align: center;
}

.enterprises-logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 64px;
  row-gap: 80px;
  margin-top: 64px;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .enterprises-logos-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
.how-works-section {
  padding: 64px 16px;
  text-align: center;
}

.how-works-section .headline2 {
  margin-top: 8px;
}

.how-works-section > img {
  width: 100%;
  margin: 64px 0;
  object-fit: cover;
  border-radius: 40px;
  aspect-ratio: 1/1;
}

.steps-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.step {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  text-align: start;
  position: relative;
}

.step p {
  margin-top: 8px;
}

.step-description {
  flex: 1;
}

.step-counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 99px;
  background-color: var(--primary);
  color: var(--white);
  z-index: 99;
}

.step-line {
  position: absolute;
  top: 0;
  left: 16px;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--grey);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .how-works-section {
    padding: 128px 0;
  }

  .how-works-section .headline2 {
    margin-top: 24px;
  }

  .how-works-section > img {
    margin: 96px 0;
    max-width: 600px;
    aspect-ratio: unset;
  }

  .steps-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.headline1 {
  font-family: var(--font-base);
  font-weight: 900;
  font-size: 50px;
  line-height: 48px;
}

.headline2 {
  font-family: var(--font-base);
  font-weight: 900;
  font-size: 40px;
  line-height: 65px;
}

.headline3 {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.headline5 {
  font-family: var(--font-base);
  font-size: 20px;
  line-height: 32px;
}

.body1 {
  font-family: var(--font-base);
  font-size: 18px;
  line-height: 36px;
}

.body3 {
  font-family: var(--font-base);
  font-size: 14px;
  line-height: 24px;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.black {
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font-size: 90px;
    line-height: 90px;
  }

  .headline5 {
    font-size: 24px;
    line-height: 32px;
  }

  .body1 {
    font-size: 18px;
    line-height: 36px;
  }
}
.highlight {
  color: var(--primary);
}

.button {
  display: block;
  padding: 10px 24px;
  font: 700 14px/28px var(--font-base);
  text-decoration: none;
  color: var(--white);
  border: none;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 999px;
}

.button.button--black {
  background-color: var(--black);
}

.icon-button {
  border: none;
  background: unset;
}

.icon-button img {
  width: 24px;
}

/*# sourceMappingURL=main.css.map */
